/* .......................drop down code starts ................. */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  display: none;
  position: absolute;
  width: 230px;
  z-index: 1;
  min-width: 160px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(9,0,0,1);
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius:10px ;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 11px;
  line-height:16px;
  margin-bottom: 4px;
  letter-spacing: 2px;
  padding-bottom:1px;
  font-family: Arial, Helvetica, sans-serif
}

.dropdown-content a:hover {
  background-color: #9efd38;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* .......................drop down code ends ................. */

/*................................slider code starts ..............................*/

/* 1 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


      
/* 2 */
.sli{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: 550px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color:yellowgreen;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 60px;
	margin-bottom: 20px;
}
.txt p{
	font-weight:900px;
	font-size: 20px;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* /3 */

/* 4 */
.im{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 250px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */
/*................................slider code ends  ..............................*/


/* ..................................product cards css   ............................*/

      * {
  box-sizing: border-box;
}


/* Float four columns side by side */
.col {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-top: 10px;
}

/* Remove extra left and right margins, due to padding */
.rw {margin: 0 15px;}

/* Clear floats after the columns */
.rw:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
    
/*..................................product cards css   ends ............................*/


/*..................................Top Nav added code starts , jamal.....................*/  


/* set the font size and icon size to 10px */
.banner-social-icon i {
  font-size: 12px;


}

.caption-text {
  font-size: 12px;
}

/* make the top nav small */
.nav-banner {
  height: 20px;
  padding-top:5px;
  padding-bottom:8px;

}

@media only screen and (max-width: 767px) {
  /* hide the icons and text in small screens */
  .banner-item {
    display: none;
  }
  
  /* make the top nav small */
  .nav-banner {
    height: 50px;
  }
  
  /* set the font size and icon size to 6px */
  .banner-social-icon i {
    font-size: 6px;
  }
  
  .caption-text {
    font-size: 6px;
  }
}

/*............................To nav added code ends  , jamal.........................*/


/*............................Products added code  starts  Jamal.........................*/ 

* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.col {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-top: 10px;
}

/* Remove extra left and right margins, due to padding */
.rw {margin: 0 15px;}

/* Clear floats after the columns */
.rw:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
/*............................Products added code  ends  Jamal.........................*/ 


/*............................partner starts  Jamal.........................*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* body{
    font-family: 'Poppins', sans-serif !important;
    background: #eff3f8;
} change removed*/ 
.container{
    padding-top: 20px;
    padding-bottom:0px;
    margin-bottom:  -50px;
}
h2{
    text-align: center;
    padding: 30px;
}
.slick-slide{
    margin-bottom:  -2px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 50%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}


/*............................partner  ends  Jamal.........................*/ 

/*............................Dynamics nav page starts   Jamal.........................*/ 

/* Default styles */
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -70px;
}

.column {
  flex-basis: 50%;
  padding: 10px;
  margin-bottom: 20px; /* add a margin bottom */
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .column {
    flex-basis: 100%;
  }
}



/*............................Dynamics nav page starts   Jamal.........................*/ 


/*............................footer  starts  Jamal.........................*/ 
.footer {
  background-image: url(images/fbg.png);
  padding-left: 40px;
  padding-top: 40px;
  margin-top: 40px;
/*  padding: 50px 0;*/
}

.footer-col {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

.footer h3 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  font-size:0.8rem;
  color: #eee;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-col {
    flex: 1;
    margin: 0 15px;
    text-align: left;
  }
  
  .footer-col:first-child {
    text-align: left;
  }
  
  .footer h3 {
    text-align: left;
    margin-bottom: 20px;
  }
}


/*............................footer  ends  Jamal.........................*/














